* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #d6f15a;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #4c6baf;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4556a0;
}

select,
input {
  padding: 8px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

select:focus,
input[type="number"]:focus {
  border-color: #4caf50;
}

div {
  padding: 20px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.error-message button {
  background-color: #721c24;
  margin-top: 10px;
}

.error-message button:hover {
  background-color: #5a1316;
}
